<div class="page-header">
	<h1>Encuesta</h1>
</div>
<!--
<div class="row">
	<div class="col-xs-5">
		<a href="#/new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Nueva Encuesta </a>
	</div>
	<div class="col-xs-7">
		<input type="text" class="form-control" ng-model="query" placeholder="Buscar Pregunta">
	</div>
</div>
-->
<div class="row">
	<div class="col-xs-12"><hr></div>
</div>
<div class="row" ng-switch on="polls.length">
	<ul ng-switch-when="0">
		<li><em>No preguntas en la base de datos quieres crear una <a href="#/new">create one</a>?</li>
	</ul>
	<ul ng-switch-default>
		<li ng-repeat="poll in polls | filter:query">
			<div class="well well-lg">
					<strong>{{poll.question}}</strong>
						<div ng-hide="poll.userVoted">
						<p class="lead">Seleccione una de las siguientes opciones:</p>
							<form role="form" ng-submit="vote()">
								<div ng-repeat="choice in poll.choices" class="radio">
									<label>
											<input type="radio" name="choice" ng-model="poll.userVote" value="{{choice._id}}">
										{{choice.text}}
											<input ng-hide="choice.text != 'otro'"  type="text" name="desc"  ng-model="poll.desc" placeholder="respuesta abierta">
									</label>			
								</div>
								<div class="row">
									<div class="col-xs-6">
								 		<button class="btn btn-primary pull-left" type="submit">Enviar &raquo;</button>
									</div>
								</div>
							</form>
						</div>

						
			</div>
		</li>
	</ul>
</div>
<p>&nbsp;</p>